{% extends "topspots/base.html" %}

{% block title %}Signup{% endblock %}
{% load custom_filters %}
{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">Complete Signup</h1>
    </div>
    <h3 align="center">You are about to use your {{ account.get_provider.name }} account to log in to
        {{ site.name }}.</h3>
    <h3 align="center">As the final step, please confirm or edit the username and email to be used on this site:</h3>


    <form class="form-horizontal signup" method="post" action="{% url 'socialaccount_signup' %}" id="signup_form">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        {% if field.label == 'Username' %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name="username"
                                   {% if not field.errors %}
                                   value="{{ form.email.value|email_to_username }}"
                                   {% else %}
                                   autofocus
                                   {% endif %}>
                        {% else %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control" type="email" name="email" value="{{ field.value }}">
                        {% endif %}
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in field.errors %}
                                {% if 'Please sign in to that account first' in error %}
                                    <p>
                                        An account already exists with this e-mail address.
                                        Please sign in with your existing credentials.
                                    </p>

                                {% else %}
                                    {{ error }}
                                {% endif %}
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default fancy">Sign up</button>
            </div>
        </div>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}
