{% extends "topspots/base.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
    </div>
    <div align="center">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <h3>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</h3>
        {% else %}
            {% if form %}
                <form class="form-horizontal" method="POST" action=".">
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ field.label }}</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control"
                                           name="{% if 'again' in field.label %}password2{% else %}password1{% endif %}" type="password">
                                </div>
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <input class="btn btn-default fancy" type="submit" name="action" value="change password"/>
                </form>
            {% else %}
                <p>Your password has been changed.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
