{% extends "topspots/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">Password Reset Email Sent...</h1>
    </div>
    <h3 align="center">If you do not see the email in your inbox, please check your spam folder. </h3>
    <h3 align="center">Please <a href="mailto:miniquadmaps@gmail.com">contact us</a> if you do not receive the email within a few minutes.</h3>
{% endblock %}
