{% extends "topspots/base.html" %}

{% load account %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">Password Reset</h1>
    </div>


    <h3 align="center">Forgot your password? Enter your e-mail address below, and we'll send you an e-mail so you can reset it.</h3>
    <br/>
    <form method="POST" class="form-horizontal" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% for field in form %}

            <div class="form-group">
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input class="form-control" name="email" type="email">
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}

        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
                <input class="btn btn-default fancy" type="submit" value="Reset My Password">
            </div>
        </div>
    </form>

    <p align="center">Please contact us if you have any trouble resetting your password.</p>
{% endblock %}
