{% extends "topspots/base.html" %}


{% block head %}Change Password{% endblock %}

{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">Password Changed</h1>
    </div>
    <h3 align="center">Your password has been changed succesfully. <a href="{% url 'login' %}">Log in</a>?</h3>
{% endblock %}
