{% extends 'topspots/base.html' %}
{% block title %}404: page not found{% endblock %}
{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">404 <i class="fa fa-tree" style="color: #a1b56c"></i></h1>
        <p>Sorry, that page doesn't exist...or <em>does</em> it?</p>
        <p>No, it really doesn't.</p>
    </div>
{% endblock %}
