{% extends 'topspots/base.html' %}
{% block title %}500: server error{% endblock %}
{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">500 <span class="glyphicon glyphicon-fire text-danger"></span></h1>
        <p>Somebody crashed a quad into our server...</p>
        <p>Don't worry, they only broke a few props.</p>
    </div>
{% endblock %}
