html, body {
    color: #383838;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

.fancy {
    font-family: 'Lobster', cursive;

}

.plain {
    color: #383838;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.plain-light {
    color: #585858;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#miniquad {
    padding-left: 150px;
}

#home-label {
    margin-right: 30px;
}

#spotsearch {
    width: 500px;
}

a:hover {
    color: #ab4642;
    text-decoration: none;
}

.clocklink:hover {
    color: #dc9656;
}

.heartlink:hover {
    color: #ab4642;
}

.text-danger {
    color: #ab4642;
}

.text-warning {
    color: #dc9656;
}
.score-text {
    color: #f8f8f8;
}

.thumbnail {
    position: relative;
}

.caption {
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 100%;
}

.borderless {
    border: none;
}

.list-header {
    color: #f8f8f8;
    background: #282828;
}

.list-header-light {
    color: #282828;
    background: #d8d8d8;
}

.black-link {
    color: #383838;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.jumbotron {
    padding: .5em;
}
