{% load static %}

<div class="modal fade" id="airportInfo" tabindex="-1" role="dialog" aria-labelledby="AirportInfoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="AirportInfoLabel">{{ airports|length }} Potential airport{{ airports|pluralize }} nearby</h2>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for airport in airports %}
                        <li class="list-group-item">{{ airport }}</li>
                    {% endfor %}
                </ul>
                <p>The <a href="https://www.faa.gov/uas/model_aircraft/">FAA</a> asks that you <strong>not fly within 5 miles of an airport</strong> without contacting the airport and control tower. Sometimes our sources classify things that aren't really airports as airports, so use your own judgment{% if 'search' in request.path %}, and please do not add spots that are too close to an active airport{% endif %}.</p>
            </div>
        </div>
    </div>
</div>
