<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        <script src="{% static 'topspots/javascript/favorite.js' %}"></script>

        <!-- Show welcome meassage only once and only after user signup -->
        {% if messages %}
            {% for message in messages %}
                {% if 'user signup successful' in message|lower  %}
                    {% include 'topspots/welcomemodal.html' %}
                    <script type="text/javascript">
                        $(window).load(function(){
                            $('#welcomeModal').modal('show');
                        });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block extra_scripts %}{% endblock %}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
              integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'topspots/css/styles.css' %}" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
        {% block extra_styles %}{% endblock %}
    </head>
    <body>

        <div id="container">
            <!-- Navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand plain" href="{% url 'home' %}">Miniquad Maps</a>
                    </div>
                    <div class="collapse navbar-collapse in" id="navbar-collapse-1">

                        {% block nav_searchbox %}
                        {% endblock %}
                        <!-- This form is here so I can logout as a POST -->
                        <form action="{% url 'logout' %}" method="post" id="logout-link-form">
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'user_profile' user.id %}">
                                            Signed in as: <strong>{{ user.get_username|truncatechars:15}}</strong>
                                        </a>
                                    </li>
                                    <li><a href="{% url 'my_spots' user.username %}">My spots</a></li>

                                    <li>
                                        <a href="javascript:;" onclick="$('#logout-link-form').submit();">Log out</a>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'login' %}{% include 'topspots/next.html' %}">Log in</a></li>
                                    <li><a href="{% url 'signup' %}{% include 'topspots/next.html' %}">Sign up</a></li>
                                {% endif %}
                            </ul>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </nav>
            <script>
                $(function () {
                    $('[data-toggle="popover"]').popover({html:true})
                })
            </script>
            <div id="body">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                <!-- Footer -->
                <div class="navbar navbar-bottom navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="{% url 'help' %}">Help</a>
                            </li>
                            <li>
                                <a href="#">Go to top</a>
                            </li>
                            <li>
                                <a href="{% url 'tips' %}">Tips & tricks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
