{% load static %}

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="confirmModalLabel">Are you sure you want to add:<br/>
                    <strong>{{ spot_name }}</strong>?
                </h2>
            </div>
            <div class="modal-body">
                <h4>
                    Once you add a spot, you will not be able to delete it.<br/>
                    Make sure the address and map image match the spot you want to add.
                </h4>
            </div>
            <div class="modal-footer">
                <script>
                    $(function () {
                        $('#btn-submit').click(function (e) {
                            $('#addSpotform').submit();
                            $('#confirmModal').modal('hide');
                        });
                    });
                </script>
                <button type="submit" id="btn-submit" class="btn btn-default">Really add</button>
                <button type="button" class="btn" data-dismiss="modal">Don't add yet</button>
            </div>
        </div>
    </div>
</div>
