{% extends 'topspots/base.html' %}
{% load static %}
{% block title %}{{ spot.short_name }}{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'topspots/css/weather-icons.min.css' %}" type="text/css">
{% endblock %}
{% block body %}
    {% include 'topspots/packlogmodal.html' %}
    <div align="center" class="jumbotron">
        <div class="row">
            <h1 class="fancy col-sm-offset-2 col-sm-8">
                {{ spot.short_name }}
                {% include 'topspots/favbutton.html' %}
                {% include 'topspots/nearbybutton.html' with spot_name=spot.name %}
            </h1>
            {% if user.is_authenticated %}
                <div class="col-sm-2">
                    <figure class="figure" type="button">
                        <a href="#">
                            <img src="{% static 'topspots/images/lipo2.png' %}" data-toggle="modal"
                                 data-target="#packLog" class="figure-img">
                        </a>
                        <figcaption class="figure-caption plain-light">Log packs</figcaption>
                    </figure>
                </div>
            {% endif %}
        </div>
        {% if spot.total_packs_flown > 0 %}
            <p>
                <span class="fancy">{{ spot.total_packs_flown }}</span> pack{{ spot.total_packs_flown|pluralize }} flown at this spot.
                {% if user.is_authenticated %}
                    <span class="fancy">{{ user_packs }}</span> by you.
                {% endif %}
            </p>
        {% endif %}
    </div>

    <div align="center">
        <p>
            {% if airports %}
                {% include 'topspots/airportmodal.html' %}
                <a href="#" data-toggle="modal" data-target="#airportInfo">
                    <i class="fa fa-plane text-warning fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-warning text-warning fa-lg" aria-hidden="true"></i>
                </a>
            {% endif %}
        </p>


        <div class="btn-group" role="group">
            <button id="switch-rmap" type="button" class="btn btn-default active"><i class="fa fa-map-o fa-lg"></i></button>
            <button id="switch-satmap" type="button" class="btn btn-default"><i class="fa fa-globe fa-lg"></i></button>
        </div>

        <figure class="figure">
            <a href="{{ spot.google_maps_places_url }}" style="text-decoration: none">
                <img id="spot-map" src="{{ spot.map_url }}" class="figure-img img-fluid img-rounded img-responsive" alt="I'm the map.">
            </a>
            <figcaption class="figure-caption plain-light">Click map for directions and more details.</figcaption>
        </figure>
        <script>
            var $map = $('#spot-map');
            var $rMapSwitch = $('#switch-rmap')
            var $satMapSwitch = $('#switch-satmap')
            var url1 = '{{ spot.map_url|escapejs }}';
            var url2 = '{{ spot.sat_map_url|escapejs }}';
            $rMapSwitch.click(function (e) {
                $map.prop('src', url1);
                $rMapSwitch.addClass('active')
                $satMapSwitch.removeClass('active');
            });
            $satMapSwitch.click(function (e) {
                $map.prop('src', url2);
                $satMapSwitch.addClass('active')
                $rMapSwitch.removeClass('active');
            });

        </script>
        <hr>
        <!-- Weather conditions -->
        <div class="list-header">
            <h1 class="fancy">Conditions </h1>
            <h6 class="plain-light">(last checked at {{ weather_checked_at|date:"P" }}) <a href="http://forecast.io/">Powered by Forecast</a></h6>
        </div>
        <br/>
        <div class="row" align="center">
            <div class="col-sm-4">
                <i class="wi wi-strong-wind {% if wind >= 10 %}text-danger{% endif %}" style="font-size: 2em"></i>
                <h3>Wind Speed: {{ wind }} mph</h3>

            </div>

            <div class="col-sm-4">
                <i class="wi wi-rain {% if rain >= 50 %}text-danger{% endif %}" style="font-size: 2em"></i>
                <h3>Chance of Rain: {{ rain }}%</h3>
            </div>

            <div class="col-sm-4">
                <i class="wi wi-thermometer {% if temp >= 90 %}text-danger{% endif %}" style="font-size: 2em"></i>
                <h3>Temperature: {{ temp }}&deg;F</h3>
            </div>
        </div>
    </div>


    <hr>

    <!-- Comments -->
    {% if spot.comment_set.all or user.is_authenticated %}
    <div class="list-header" align="center">
        <h1 class="fancy">Comments</h1>
    </div>
    <br/>
    {% endif %}

    <!-- Comment box -->
    {% if user.is_authenticated %}
        <form class="form" method="post" action="{% url 'comment' spot.id %}">
            <div class="form-group">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                        <input name="comment" placeholder="Tell people something about this spot"
                               class="form-control"  type="text">
                    </div>


                </div>
                <button type="submit" class="btn btn-default">Comment</button>
            </div>
            {% csrf_token %}
        </form><br/><br/>
    {% endif %}

    {% if spot.comment_set.all %}
        <div class="panel panel-default">
            {% for comment in spot.ordered_comments %}
                <div class="panel-heading row" id="comment-{{ comment.id }}">
                    <div class="col-sm-10">
                        <strong>{{ comment.poster.username }}</strong>
                        <em style="margin-left: 2em">{{ comment.created|date:'M d \'y \a\t H:i' }}</em>
                    </div>
                    <div class="btn-group col-sm-2" role="group">
                        {% if comment.poster == user %}

                            <form id="delete-comment-form-{{ comment.id }}" class="form"
                                  method="post" action="{% url 'delete_comment' spot.id comment.id %}">
                                {% csrf_token %}
                            </form>

                            {% include 'topspots/editmodal.html' with edit_type='comment' %}

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-edit"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-toggle="modal"
                                           data-target="#comment-{{ comment.id }} .editModal">Edit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="javascript:;"
                                           onclick="$('#delete-comment-form-{{ comment.id }}').submit();">Delete</a>
                                    </li>
                                </ul>
                            </div>

                        {% endif %}

                        {% if user.is_authenticated %}
                            {% include 'topspots/replymodal.html' %}
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#comment-{{ comment.id }} .replyModal">
                                Reply
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="panel-body">
                    <div class ="row">
                        <div class="col-sm-8">
                            {{ comment.text }}
                        </div>
                    </div>
                    <br/>

                    <!-- Comment replies -->
                    {% if comment.commentreply_set %}
                        {% for reply in comment.commentreply_set.all %}
                            <div class="row" style="padding-left: 1em" id="reply-{{ reply.id }}">
                                <div class="col-sm-8 well">
                                    <p>{{ reply.text }}</p>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p>
                                                <strong>{{ reply.poster.username }}</strong>
                                                <em style="margin-left: 2em">{{ reply.created|date:'M d \'y \a\t H:i' }}</em>
                                            </p>
                                        </div>
                                        {% if reply.poster == user %}
                                            {% include 'topspots/editmodal.html' with edit_type='reply' comment=reply %}
                                            <form id="delete-reply-form-{{ reply.id }}" class="form"
                                                  method="post" action="{% url 'delete_reply' spot.id reply.id %}">
                                                {% csrf_token %}
                                            </form>
                                            <div class="col-sm-2">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-edit"></i> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" data-toggle="modal"
                                                               data-target="#reply-{{ reply.id }} .editModal">Edit</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li>
                                                            <a href="javascript:;"
                                                               onclick="$('#delete-reply-form-{{ reply.id }}').submit();">
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    {% endif %} <!-- If comments -->

    <div class="list-header" align="center">
        <h1 class="fancy">Featured Video</h1>
    </div>
    <div align="center">
        <!-- Featured video here -->
        {{ spot.currently_featured_video.html|safe }}
        {% include 'topspots/featuresubmitmodal.html' %}
        <p><a href="#" data-toggle="modal" data-target="#featureSubmitModal">Want us to feature your video?</a></p>
    </div>

{% endblock %}
