<!-- Favorite button with heart icon and fav count in middle -->
<button class="btn" style="background: {% if 'spots/details' in request.path %}#eee{% else %}white{% endif %}"
        onclick="favorite({{ spot.id }})" {% include 'topspots/popover.html' %}>
    {% if user.siteuser in spot.favorited_by_list %}
        <span class="fa-stack fa-lg plain">
            <i class="text-danger fa fa-heart fa-stack-2x" id="glyph{{ spot.id }}"></i>
            <span class="fa-stack-1x score-text" id="spot_score{{ spot.id }}">{{ spot.score }}</span>
        </span>
    {% elif not user.is_authenticated %}
        <span class="fa-stack fa-lg">
            <i class="text-muted fa fa-heart fa-stack-2x" id="glyph{{ spot.id }}"></i>
            <span class="fa-stack-1x score-text" id="spot_score{{ spot.id }}">{{ spot.score }}</span>
        </span>
    {% else %}
        <span class="fa-stack fa-lg">
            <i class="fa fa-heart fa-stack-2x" id="glyph{{ spot.id }}"></i>
            <span class="fa-stack-1x score-text" id="spot_score{{ spot.id }}">{{ spot.score }}</span>
        </span>
    {% endif %}
</button>
