{% load static %}

<div class="modal fade" tabindex="-1" role="dialog" id="featureSubmitModal" aria-labelledby="featureSubmitModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="featureSubmitModallabel">
                    Paste link to video
                </h2>
            </div>
            <form action="{% url 'submit_video_link' spot.id %}" method="post">
                <div class="modal-body">
                    <p>
                        Once we have confirmed that this video really was shot at
                        <strong>{{ spot.short_name }}</strong> it will be featured.
                        Depending on how many videos have been submitted before yours,
                        this may take some time.
                    </p>
                    <input class="form-control" name="video_link"
                           placeholder="Paste video link from Instagram or YouTube." autofocus>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $('.modal').on('shown.bs.modal', function() {
        $(this).find('[autofocus]').focus();
    });

</script>
