{% extends 'topspots/base.html' %}
{% load static %}
{% block body %}
    <div class="jumbotron" align="center">
        <img id="miniquad" class="img-responsive" src="{% static 'topspots/images/miniquad.png' %}" align="left"/>
        <p>
            If you have any questions, comments, bugs to report, or features to request,
        </p>
        <p>
            please send us an email: <a href="mailto:miniquad.maps@gmail.com">miniquad.maps@gmail.com</a>.
        </p>
    </div>
{% endblock %}
