{% extends 'topspots/base.html' %}
{% load static %}
{% block title %}Miniquad Maps{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'topspots/javascript/spotsearch.js' %}"></script>
    <script src="{% static 'topspots/javascript/jQueryRotate.js' %}"></script>
    <script src="{% static 'topspots/javascript/js-marker-clusterer/src/markerclusterer.js' %}"></script>
    <script>
        var value = 0;

        $(document).ready(function() {
            $("#miniquad").rotate({
                bind: {
                    mouseenter: function() {
                        value -=90;
                        $(this).rotate({ animateTo:value});
                    }
                }
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        /* TODO this probably won't work longterm, i.e., it might not always load fast enough?? */
        function initMap() {
            var markers = [];
            var map = new google.maps.Map(document.getElementById('map'), {
                {% if geolocate_fail %}
                zoom: 4,
                center: {lat: 37.0902, lng: -95.7129}
                {% else %}
                zoom: 10,
                center: {lat: {{ user_lat }}, lng: {{ user_lng }}}
                {% endif %}
            });

            {% for spot in all_spots %}
            var spotLat = {{ spot.latitude }};
            var spotLng = {{ spot.longitude }};
            var marker{{ forloop.counter }} = new google.maps.Marker({
                position: {lat: spotLat, lng: spotLng},
                map: map,
                title: '{{ spot.short_name }}'
            });

            marker{{ forloop.counter }}.addListener('click', function() {
                window.location.href = "{% url 'spot_detail' spot.id %}";
            });
            markers.push(marker{{ forloop.counter }})
            {% endfor %}

            var clusterOptions = {
                maxZoom: 10,
                imagePath: "{% static 'topspots/javascript/js-marker-clusterer/images' %}/m",
            }
            var markerClusterer = new MarkerClusterer(map, markers, clusterOptions);

            /* Adding spots from interactive map */
            var update_timeout = null;

            google.maps.event.addListener(map, 'click', function(event){
                update_timeout = setTimeout(function(){
                    placeMarker(event.latLng);
                }, 200);
            });

            google.maps.event.addListener(map, 'dblclick', function(event) {
                clearTimeout(update_timeout);
            });

            var addPlaceMarker;
            var clusterClicked;
            function placeMarker(location) {

                // Don't add a bunch of markers
                if (addPlaceMarker) {
                    addPlaceMarker.setMap(null);
                }

                // Don't add a marker when user is just expanding a cluster
                if (clusterClicked) {
                    clusterClicked = false;
                    return
                }

                addPlaceMarker = new google.maps.Marker({
                    position: location,
                    map: map,
                    label: '+',
                    title: "click to add this spot"
                });

                var geocoder = new google.maps.Geocoder;
                var position = addPlaceMarker.getPosition()
                addPlaceMarker.addListener('click', function() {

                    geocoder.geocode({'location': position}, function(results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                var markerLatLng = position.lat() + ',' + position.lng();
                                var urlString = results[0].formatted_address + '&latlng=' + markerLatLng;
                                window.location.href = "{% url 'spot_search' %}?search_query=" + urlString;
                            } else {
                                window.alert('No results found');
                            }
                        } else {
                            window.alert('Geocoder failed due to: ' + status);
                        }
                    });
                });
            }
            google.maps.event.addListener(markerClusterer, "clusterclick", function (cluster) {
                clusterClicked = true;
            });
        };
    </script>
{% endblock %}
{% block nav_searchbox %}
    <form method="get" id="searchform" action="{% url 'spot_search' %}"
          class="navbar-form navbar-left plain" role="search">
        <div class="form-group">
            <input id="spotsearch" type="text" class="form-control plain"
                   placeholder="Search for existing spots, spots to add, or spots near an address" name="search_query">
        </div>

        <button type="submit" class="btn btn-default plain" name="searchtype"
                id="search-btn" value="default">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
        <button type="submit" class="btn btn-default plain" id="nearby-btn"
                name="searchtype" value="nearby">
            <span class="glyphicon glyphicon-map-marker text-danger"></span> Search near
        </button>
    </form>
{% endblock %}
{% block body %}

    <div class="jumbotron" align="center">
        <img id="miniquad" class="img-responsive" src="{% static 'topspots/images/miniquad.png' %}" align="left"/>
        <h1 class="fancy">Miniquad Maps
            <small class="plain" style="font-size: .3em">
                Discover, share, fly.
                {% if spot_count %}<strong class="fancy">{{ spot_count }}</strong> spot{{ spot_count|pluralize }}, <strong class="fancy">{{ user_count }}</strong> pilot{{ user_count|pluralize }}.{% endif %}
            </small>
        </h1>

        <!-- <p>
             Discover, share, and fly the best FPV spots.
             {% if spot_count %}<strong class="fancy">{{ spot_count }}</strong> spot{{ spot_count|pluralize }} and <strong class="fancy">{{ user_count }}</strong> pilot{{ user_count|pluralize }} so far.  {% endif %}
             </p> -->
    </div>

    <div class="map_container">
        <div id="map" class="map_canvas"></div>
    </div>


    <!-- Spot list -->
    <div class ="row">
        <div class="list-header col-sm-12" align="center">
            <div class="col-sm-4">
                <h3 class="fancy">
                    {% if sorting == 'recent' %}
                        Recent spots
                    {% elif sorting == 'near' %}
                        Closest spots
                    {% elif sorting == 'favorites' %}
                        Popular spots
                    {% endif %}
                </h3>
            </div>
            <div class ="col-sm-4">
                <h1>
                    {% if sorting == 'recent' %}
                        <a href="/?sort=near">
                            <span class="glyphicon glyphicon-map-marker heartlink text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by nearby">&nbsp</span>
                        </a>

                        <a href="/?sort=favorites">
                            <span class="heartlink glyphicon glyphicon-heart text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by most favorites">&nbsp</span>
                        </a>

                        <span class="glyphicon glyphicon-time" style="color: #dc9656"></span>
                    {% elif sorting == 'near' %}
                        {% if geolocate_fail %}
                            <a data-toggle="popover" data-placement="top" data-trigger="hover"
                               data-content="<p class='plain'>We were not able to get location data from your browser.<br/><br/>Nearby spots on the home page will be shown in relation to downtown Kansas City.</p>">
                                <span class="fa-stack fa-lg" style="font-size: 0.5em">
                                    <i class="fa fa-globe fa-stack-1x" style="color:white"></i>
                                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                </span>
                            </a>
                        {% endif %}
                        <span class="glyphicon glyphicon-map-marker text-danger">&nbsp</span>

                        <a href="/?sort=favorites">
                            <span class="heartlink glyphicon glyphicon-heart text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by most favorites">&nbsp</span>
                        </a>

                        <a href="/?sort=recent">
                            <span class="glyphicon glyphicon-time text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by most recent">&nbsp</span></span>
                        </a>
                    {% elif sorting == 'favorites' %}
                        <a href="/?sort=near">
                            <span class="glyphicon glyphicon-map-marker text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by nearby">&nbsp</span>
                        </a>

                        <span class="glyphicon glyphicon-heart text-danger">&nbsp</span>

                        <a href="/?sort=recent">
                            <span class="clocklink glyphicon glyphicon-time text-muted"
                                  data-toggle="tooltip" data-placement="top" title="sort by most recent"></span>
                        </a>
                    {% endif %}
                </h1>
            </div>
        </div>

    </div>
    <br/>
    {% include 'topspots/spotlist.html' with show_packs=False%}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_js_api_key }}&libraries=places&callback=initSearchBoxAndMap" async defer></script>
{% endblock %}
