{% extends 'topspots/base.html' %}
{% load static %}
{% block body %}
    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" align="center">
                The username and password you entered do not match. Please try again.
            </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-4 control-label">Username</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="username" placeholder="Username" class="form-control"  type="text" autofocus>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default fancy">Log in</button>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% endblock %}
