{% extends 'topspots/base.html' %}
{% load static %}
{% block title %}My spots{% endblock %}

{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">
            My Spots
            <span class="glyphicon glyphicon-heart text-danger">
            </span>
        </h1>
        <p><strong class="fancy">{{ user.siteuser.total_packs_logged }}</strong> packs flown at <strong class="fancy">{{ favorites|length }}</strong> spots</p>
    </div>
    {% if not favorites %}
        <div align="center">
            <h3>Looks like you haven't favorited any spots yet.</h3>
            <h3>Click the <i class="fa fa-heart"></i> next to a spot's name, and it will show up here.</h3>
        </div>
    {% else %}
        {% include 'topspots/spotlist.html' with spots=favorites show_packs=True%}
    {% endif %}
{% endblock %}
