<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<a href="{% url 'spot_search' %}?search_query={{ spot_name }}&searchtype=nearby">
    <span class="glyphicon glyphicon-map-marker text-danger"
          style="font-size: 0.6em"
          data-toggle="tooltip" data-placement="top" title="Search spots near this location"></span>
</a>
