{% extends 'topspots/base.html' %}
{% load static %}
{% block body %}
    <div class="jumbotron" align="center">
        <h1 class="fancy">
            Nearby Spots
            <span class="glyphicon glyphicon-map-marker text-danger">
            </span>
        </h1>
        <p>
            <strong class="fancy">{{ nearby_spot_count }}</strong> spot{{ nearby_spot_count|pluralize }} within <strong class="fancy">{{ miles_radius }}</strong> mile{{ miles_radius|pluralize }} of <strong class="fancy">{{ ref_point }}</strong>
        </p>
    </div>
    {% include 'topspots/spotlist.html' with spots=nearby_spots show_dist=True %}
    {% if not nearby_spot_count %}
    <div class="alert alert-warning" role="alert">
        <h1 align="center">No spots have been added near this address. Time to go scout the area!</h1>
    </div>
    {% endif %}
{% endblock %}
