{% load static %}

<form method="post" action="{% url 'log_packs' spot.id %}">
    <div class="modal fade" id="packLog" tabindex="-1" role="dialog" aria-labelledby="packLogLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="packLogLabel">Log packs flown at <strong>{{ spot.short_name }}</strong></h4>
                </div>
                <div class="modal-body">
                    <h3>
                        How many packs did you fly?
                        <img src="{% static 'topspots/images/lipo_blank.png' %}">
                    </h3>
                    <select class="form-control" name="pack-select">
                        {% for i in packs %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" value="Select">Log packs</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
</form>
