{% if not user.is_authenticated %}
    data-toggle="popover"
    data-placement="top"
    data-trigger="click"
    data-content="Want to contribute to the site? Please <a href='{% url "signup" %}?next={% if 'next' not in request.get_full_path %}{{ request.get_full_path|urlencode }}{% else %}/{% endif %}'>sign up</a> for an account or <a href='{% url "login" %}?next={% if 'next' not in request.get_full_path %}{{ request.get_full_path|urlencode }}{% else %}/{% endif %}'>log in</a> first."
{% endif %}
