{% extends 'topspots/base.html' %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="fancy" style="padding-left: 15px">
            {{ user.username | capfirst }}
        </h1>
    </div>

    <div class="list-header fancy" align ="center" style="padding: 10px">
        <h1>Profile details <i class="fa fa-user"></i></h1>
    </div>
    <h3>
        Address <a data-toggle="popover" data-placement="top" data-trigger="click"
                   data-content="This address is used to find spots near you. It can be as general as a postal code or a city name, and as specific as a street address. The more specific, the more accurately nearby spots will be found."><i class="fa fa-question-circle-o"></i></a>:
    </h3>
    <div class="row">
        <form method="post" action="{% url 'update_location' %}">
            <div class="col-sm-4">
                <input id="user-address" name="address" class="form-control"
                       value="{{ user.siteuser.address }}" placeholder="Enter an address" disabled>
            </div>
            {% csrf_token %}
        </form>
        <button class="btn col-sm-1" id="location-edit-button">Edit</button>
    </div>

    {% if user.siteuser.address %}
        <form method="post" action="{% url 'use_address' %}">
            <p><input name="use_address" type="checkbox"
                      onclick="submit();" {% if user.siteuser.use_address %}checked{% endif %}>
                &nbspUse this address to determine my location?
            </p>
            {% csrf_token %}
        </form>
    {% endif %}

    <div class="list-header fancy" align ="center" style="padding: 10px">
        <h1>Spots <i class="fa fa-globe" aria-hidden="true"></i></h1>
    </div>
    <h3>Favorited spots: <strong class="fancy">{{ user.siteuser.favorites.all | length }}</strong></h3>
    <h3>Spots added: <strong class="fancy">{{ user.spot_set.all | length }}</strong></h3>

    <div class="list-header-light fancy" align ="center" style="padding: 10px">
        <h1>Packs <img src="{% static 'topspots/images/lipo_blank.png' %}"></h1>
    </div>
    <h3>Total packs flown: <strong class="fancy">{{ user.siteuser.total_packs_logged }}</strong></h3>

    <script src="{% static 'topspots/javascript/userprofile.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_js_api_key }}&libraries=places&callback=initLocationUpdateBox" async defer></script>
{% endblock %}
