{% extends 'topspots/base.html' %}
{% load static %}
{% block body %}
    <form class="form-horizontal" method="post" action="{% url 'signup' %}">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        {% if field.label == 'Username' %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {% elif field.label == 'Password' %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {% else %}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        {% endif %}
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default fancy" id="submit-btn">Sign up</button>
            </div>
        </div>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    {% include "socialaccount/snippets/provider_list.html" %}
{% endblock %}
