{% load static %}
{% load spot_filters %}

{% for spot in spots %}
    <div class="row">
        <div class="col-sm-6" style="padding-left: 5%">
            <a href="{% url 'spot_detail' spot.id %}">
                <img src="{{ spot.small_long_map_url }}" class="img-rounded img-responsive">
            </a>
        </div>
        <div class="col-sm-6">
            <h3 align="center">
                <a href="{% url 'spot_detail' spot.id %}" class="black-link">
                    {{ spot.short_name }}, {{ spot.city }}, {{ spot.state }}
                </a>
                {% include 'topspots/favbutton.html' %}
                {% if user.is_authenticated and show_packs and spot|userpacks:user %}
                    <div class="thumbnail text-center borderless">
                        <img src="{% static 'topspots/images/lipo_blank.png' %}" alt="" class="img-responsive">
                        <div class="caption">
                            <p style="color: #f8f8f8">{{ spot|userpacks:user }}</p>
                        </div>
                    </div>
                {% endif %}
            </h3>
            {% if show_dist or sorting == 'near' %}
                <h5 align="center">~{{ spot.distance|floatformat }} miles away</h5>
            {% endif %}
        </div>
    </div>
    <hr>
{% endfor %}

<nav align="center">
    <ul class="pagination">
        {% if spots.has_previous %}
            <li>
                <a href="?page={{ spots.previous_page_number }}&sort={{ sorting }}"
                   aria-label="Previous" style="color: #7cafc2">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% if spots.has_previous or spots.has_next %}
            {% for i in spots.paginator.page_range %}
                <li><a href="?page={{ i }}&sort={{ sorting }}" style="color: #7cafc2">{{ i }}</a></li>
            {% endfor %}
        {% endif %}
        {% if spots.has_next %}
            <li>
                <a href="?page={{ spots.next_page_number }}&sort={{ sorting }}"
                   aria-label="Next" style="color: #7cafc2">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
