{% extends 'topspots/base.html' %}
{% load static %}
{% block body %}
    <div align="center">
        <h1 class="fancy">
            {{ spot_name }}
            {% include 'topspots/nearbybutton.html' with spot_name=spot_name %}
        </h1>
        <a href="{{ place_url }}"><img src="{{ static_url }}" class="img-responsive"></a><br /><br />
        <p>Can't tell from this image if it is the right location? Click the image to view in Google Maps</p>
        {% if airports %}
            {% include 'topspots/airportmodal.html' %}
            <div class="alert alert-danger" role="alert">
                <h3>
                    <i class="fa fa-warning text-danger" aria-hidden="true"></i>
                    <i class="fa fa-plane text-danger" aria-hidden="true"></i>&nbsp
                    <strong>{{ airports|length }}</strong> Airport{{ airports|pluralize }} detected within <strong>5</strong> miles of this location!
                    <a href="#" data-toggle="modal" data-target="#airportInfo"> More info? </a>
                    <i class="fa fa-plane text-danger" aria-hidden="true"></i>
                    <i class="fa fa-warning text-danger" aria-hidden="true"></i>

                </h3>
            </div>
        {% endif %}
        <form action="{% url 'save_spot' %}" method="POST" id="addSpotForm" class="form-inline">
            <input type="hidden" name="spot_name" value="{{ spot_name }}">
            <input type="hidden" name="spot_url_name" value="{{ spot_url_name }}">
            <input type="hidden" name="spot_lat" value ="{{ spot_lat }}">
            <input type="hidden" name="spot_lng" value ="{{ spot_lng }}">

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="add_fav" checked> Save to favorites too?
                </label>
            </div>
            {% include 'topspots/confirmmodal.html' %}
            <button class="btn btn-default plain" {% include 'topspots/popover.html' %} type="button" {% if user.is_authenticated %}
                    data-toggle="modal" data-target="#confirmModal"{% endif %}>Add new spot</button>
            {% csrf_token %}
            <a href="{% url 'home' %}" class="plain">Cancel</a>
        </form>
    </div>
{% endblock %}
