{% extends 'topspots/base.html' %}
{% block title %}Tips & Tricks{% endblock %}
{% block body %}
    <div align="center" class="jumbotron">
        <h1 class="fancy">Tips & Tricks</h1>
    </div>
    <hr>
    <h1 align="center">When you show up at a spot and can't fly</h1>
    <div class="well">
        <p>
            If you show up at a spot and find that you can't fly there for some reason
            (maybe there are too many people walking their dogs, or there is a sporting event
            in progress), navigate to the detail page for the spot you are at, and click the
            <i class="fa fa-map-marker text-danger"></i> next to the spot name, and you will
            see a lists of nearby spots, so that you don't have to go too far to fly.
        </p>
    </div>

    <h1 align="center">When you want to find a good place to fly with a friend</h1>
    <div class="well">
        <p>
            Try entering your address, your friends address, or an address in between you into the search bar, and click <strong>Search near</strong>. This will give you a list of close spots to choose from, sorted by distance.
        </p>
    </div>

    <h1 align="center">Check the weather before you head to a spot</h1>
    <div class="well">
        <p>
            Before you head to a spot, visit the detail page for that spot to check the
            current weather conditions. It may only be cloudy where you are, but might be
            pouring at the spot you are headed to 10 miles down the road.
        </p>
    </div>

    <h1 align="center">Find the spots closest to you</h1>
    <div class="well">
        <p>
            In general, the <strong>Miniquad Maps</strong> homepage should give you a list of
            spots closest to you, sorted by distance. However, sometimes the site might
            have difficulty calculating your address, or might not detect your address
            accurately. If you feel that either of these might be the case for you, you
            can always enter your location in the search box at the top of the page, and
            click <strong>Search near</strong>.
        </p>
    </div>
{% endblock %}
