<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="welcomemodallabel">
                    Welcome to <span class="fancy">Miniquad Maps!</span>
                </h2>
            </div>
            <div class="modal-body">
                <p>
                    Thank you for joining our community. Please take a moment to read this brief introduction to the site
                    while your lipos are charging.
                </p>
                <p>
                    <span class="fancy">Miniquad Maps</span> is built by miniquad pilots,
                    for miniquad pilots, with the aspiration of being the go-to place to
                    <em><strong>discover, share, and rate </strong></em>spots to fly FPV.
                </p>
                <p>
                    On the home page you will see an interactive map of the world, with markers
                    for all the spots that have been added so far. With this map you can:
                    <ul>
                        <li>Click a cluster to see all the spots in that cluster</li>
                        <li>Click a marker to visit the detail page for that spot</li>
                        <li>
                            Click a location to drop a marker, and click the marker
                            again to add a new spot at that location
                        </li>
                    </ul>
                </p>
                <p>
                    From the list below the interactive map, you can view:
                    <ul>
                        <li>The spots closest to your current location</li>
                        <li>The most popular spots (ranked by favorite count)</li>
                        <li>The spots most recently added to the site</li>
                    </ul>
                </p>
                <p>
                    Clicking on a spot in a list or clicking its marker will take you
                    to the details page for that location, where you can:
                    <ul>
                        <li>View current weather conditons at the spot (wind speed, chance of rain, and temperature)</li>
                        <li>Access the spot on Google Maps to get directions or more details about the location</li>
                        <li>Log packs that you have flown at that spot</li>
                        <li>See warnings about potential nearby airports</li>
                        <li>Comment on the spot to share details with other users (e.g., "This place is really busy on the weekends", "Lots of dog walkers", "Awesome tower to dive", etc.)</li>
                    </ul>
                </p>
                <p>
                    In addition, from the search box at the top of every page you can search for specific spots
                    (and add them if they haven't been added yet), or search for spots near an address or zipcode.
                </p>
                <p>
                    These are just some highlights of the site's current features, and more features are in the works! If you
                    have any questions or problems with the site, vist the <a href="{% url 'help' %}">Help</a> page.
                    Enjoy the site and fly safe!
                </p>
            </div>
        </div>
    </div>
</div>
