{% load socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}

<h3 class="fancy" align="center">Or...</h3>
<div align="center">
    <div class="well col-sm-12" align ="center">
        {% for provider in socialaccount_providers %}
            {% if provider.name == 'Google' %}

                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    <img class="img-responsive" src="{% static 'topspots/images/gsignin_btn_light.png' %}">

                </a>
            {% elif provider.name == 'Facebook' %}
                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    <img class="img-responsive" src="{% static 'topspots/images/fbooksignup_btn.png' %}">
                </a>

            {% endif %}

        {% endfor %}
    </div>
</div>
